# ignore raw data
GameParams.data

# python files
__pycache__

# ignore outputs
GameParam*.json
split
content/
langs/
gui/
spaces/
assets/
crashes/

# environment
.env/
game.path

# pyinstaller
dist/
build/
*.spec
hidden-*.txt
